profiles {
    standard {
        process {
            errorStrategy = 'retry'
            maxRetries = 2
            withLabel: io_limited {
                cpus = { 1 * task.attempt }
                memory = { 4.GB * task.attempt }
            }
            withLabel: mem_medium {
                cpus = { 4 * task.attempt }
                memory = { 30.GB * task.attempt }
            }
            withLabel: mem_verylarge {
                cpus = { 4 * task.attempt }
                memory = { 120.GB * task.attempt }
            }
            withLabel: cpu_medium {
                cpus = { 8 * task.attempt }
                memory = { 15.GB * task.attempt }
            }
        }
    }
}

